1 ICON "image/1minesweeper.ico"
2 BITMAP "image/bombe1.bmp"
3 BITMAP "image/bombe2.bmp"
4 BITMAP "image/bombe3.bmp"
5 BITMAP "image/bombe4.bmp"
6 BITMAP "image/bombe5.bmp"
7 BITMAP "image/bombe6.bmp"
8 BITMAP "image/bombe7.bmp"
9 BITMAP "image/bombe8.bmp"
10 BITMAP "image/bombe9.bmp"
11 BITMAP "image/bombe10.bmp"
12 BITMAP "image/bombe11.bmp"
13 BITMAP "image/bombe12.bmp"
14 BITMAP "image/bombe13.bmp"
15 BITMAP "image/bombe14.bmp"
16 BITMAP "image/bombe15.bmp"
17 BITMAP "image/bombe16.bmp"
18 BITMAP "image/bombe17.bmp"
19 BITMAP "image/bombe18.bmp"
20 BITMAP "image/bombe19.bmp"
21 BITMAP "image/bombe20.bmp"
22 BITMAP "image/bombe21.bmp"
23 BITMAP "image/bombe22.bmp"
24 BITMAP "image/bombe23.bmp"
25 BITMAP "image/bombe24.bmp"
26 BITMAP "image/bombe25.bmp"
27 BITMAP "image/bombe26.bmp"
28 BITMAP "image/dynamiteur24.bmp"
29 BITMAP "image/caisse1.bmp"
